
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to Text Analyzer</h1>

  <p>This is a simple application to perform text analysis.</p>
  <p><a href="https://github.com/faisal-ali472/" class="btn btn-primary btn-large">Github Project</a></p>
</div><!-- /.jumbotron -->
<div id="root">

</div>
<div class="body-content">

  <div class="container-narrow">
      <form id="userInputForm" class="form form-register" method="POST" action="/" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{input_form.input_text(placeholder="input_text", class_="form-control")}}
                <br/>
                {{input_form.input_link(placeholder="input_link", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Analyze"></p>
      </form>

        <div class="col-sm-5 col-sm-offset-1">
          {% if results %}
            <h2>Frequencies</h2>
            <br>
            <div id="results">
              <table class="table table-striped" style="max-width: 300px;">
                <thead>
                  <tr>
                    <th>Word</th>
                    <th>Count</th>
                  </tr>
                </thead>
                {% for result in results%}
                  <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </div>

  </div>

</div>
{% endblock %}

